#projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.project-container{
    width: 90%;
    height: 90%;
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}

.project-item{
    transform: translateY(100px);
    background-color: lavender;
    opacity: 0%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    position: relative;
    animation-fill-mode: forwards;   
}

@media only screen and (max-width: 700px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px; /* Increase gap for smaller screens */
      }
  }


