@import "./variables";
@import "./base";
@import "./projects";

*{
  font-family: $main-font;
  text-rendering: optimizeLegibility;
}


body{
  font-family: $main-font;
 
}


.home-navigation{
  text-align: center;
  width: 100%;
}

.home-content{
  text-align: center;
  height: 100%;
}

.back-link{

position: relative;
top: 0px;
left: 10px;

font-size: 50px;
text-decoration: none;


background-color: red;
}

