@import "./variables";
@import "./base";
@import "./projects";

*{
  font-family: $main-font;
  text-rendering: optimizeLegibility;
}


body{
  font-family: $main-font;
 
}

.back-link{

position: relative;
top: 0px;
left: 10px;

font-size: 50px;
text-decoration: none;


background-color: red;
}

